<p-panel>
    <ng-template pTemplate="header">
        <span class="text-primary font-semibold text-xl"
            >Registro de alumnos</span
        >
    </ng-template>
    <ng-template pTemplate="content">
        <div class="row">
            <div class="grid p-fluid">
                <!-- <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">ID</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div> -->
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">Código</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="grid p-fluid">
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">Nombres y apellidos</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">Usuario</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
          
            </div>
        </div>
        <div class="row">
            <div class="grid p-fluid">
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">Clave</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">Celular</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
          
            </div>
        </div>
        <div class="row">
            <div class="grid p-fluid">
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">Carrera</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">Ciclo</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
          
            </div>
        </div>
       
        <div class="row">
            <div class="grid p-fluid">
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">Tipo de documento de identidad</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">Doc. Identidad</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
          
            </div>
        </div>
        <div class="row">
            <div class="grid p-fluid">
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">Fecha de nacimiento</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">Edad</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
          
            </div>
        </div>
        <div class="row">
            <div class="grid p-fluid">
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">Género</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">Foto para perfil</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
          
            </div>
        </div>
        <div class="row">
            <div class="grid p-fluid">
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">Foto para carnet</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
            
            </div>
        </div>
       

    
        <div class="row mb-5 text-right">
            <button
                pButton
                label="Guardar"
                icon="pi pi-plus"
                (click)="Guardaruser()"
                id="btnGuardar"
                class="p-button-success mr-2"
            ></button>
            <button
                pButton
                label="Cerrar"
                icon="pi pi-times"
                iconPos="right"
                class="p-button-close-clean"
                (click)="closeModal()"
            ></button>
        </div>
    </ng-template>
</p-panel>
