<p-panel>
    <ng-template pTemplate="header">
        <span class="text-primary font-semibold text-xl">Unidades Formativas</span>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="row">
            <div class="grid p-fluid ">
                <div class="field md:col-12">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="nombreInstitucion" pInputText placeholder="Aqui se mostrara el texto de área de información">
                        <label for="nombreInstitucion">Nombre de Unidad Formativa</label>
                    </span>
                    <small style="color: brown;">Campo Obligatorio *</small>
                </div>
               
            </div>
        </div>
       
        <div class="row">
            <div class="grid p-fluid ">
                <div class="field md:col-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cantciclos"
                            [(ngModel)]="valuecantciclos" optionLabel="name" ></p-dropdown>
                        <label for="dropdown">Selecione carrera </label>
                        <small style="color: brown;">Campo obligatorio * </small>
                    </span>
                  
                </div>
                <div class="field md:col-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="listareaformativa"
                            [(ngModel)]="selectunidadfromativa" optionLabel="name" ></p-dropdown>
                        <label for="dropdown">Seleccione área formativa </label>
                        <small style="color: brown;">Campo obligatorio * </small>
                    </span>
                  
                </div>
                
           
                
            </div>
        </div>
        <div class="row mb-5 text-right">               
                    <button pButton label="Guardar" icon="pi pi-plus" id="btnGuardar" class="p-button-success mr-2"></button>
                    <button pButton label="Cancelar" icon="pi pi-times" id="btnCancelar" class="p-button-danger"></button>          
        </div>
        
    </ng-template>
    
</p-panel>

