<p-panel>        
    <ng-template pTemplate="header">
        <span class="text-primary font-semibold text-xl">Registrar Usuarios</span>
    </ng-template>
        <ng-template pTemplate="content">
        <form [formGroup]="userForm" (ngSubmit)="saveUsuario()">
            <div class="row mb-4">
                <div class="grid p-fluid">
                    <div class="field md:col-6">
                        <label for="name">Nombres</label>
                        <input id="name" type="text" pInputText formControlName="name" class="w-full" />
                    </div>
                    <div class="field md:col-6">
                        <label for="lastname">Apellidos</label>
                        <input id="lastname" type="text" pInputText formControlName="lastname" class="w-full" />
                    </div>

                </div>

            </div>
            <div class="row mb-4">
                <div class="grid p-fluid">
                    <div class="field md:col-6">
                        <label for="email">Email</label>
                        <input id="email" type="text" pInputText formControlName="email" class="w-full" />
                    </div>
                    <div class="field md:col-6">
                        <label for="dni">DNI</label>
                        <input id="dni" type="text" pInputText formControlName="dni" class="w-full" />
                    </div>
                </div>
            </div>  
            <div class="row mb-4">
                <div class="grid p-fluid">
                    <div class="field md:col-6">
                        <span class="p-float-label">
                            <p-dropdown 
                            inputId="rolId"
                            [options]="listciclos"
                            formControlName="rolId"
                            optionLabel="name"
                            optionValue="value" 
                            placeholder="Selecciona una Rol"
                          ></p-dropdown>                               
                           <label for="rolId">Rol</label>
                        </span>
                    </div>
                </div>
            </div>
                    
        <div class="row mb-5 text-right">               
         <button pButton label="Guardar" icon="pi pi-plus" type="submit"></button>
         <button pButton label="Cerrar" icon="pi pi-times" iconPos="right" class="p-button-close-clean"
         (click)="closeModal()"></button>
        </div>
        </form>
    </ng-template>
    
</p-panel>



