<p-panel>
  <ng-template pTemplate="header">
    <span class="text-primary font-semibold text-xl">Seleccionar Horario {{curso.nombre}}</span>
  </ng-template>
  <ng-template pTemplate="content">
    <form [formGroup]="parametroForm">
      <ul class="flex flex-row" style="list-style-type: none;justify-content: space-between;">
        <li *ngFor="let dayControl of daysFormArray.controls; let i = index">
          <div [formGroup]="getDayGroup(dayControl)">
            <span class="py-2" (click)="selectDay(days[i])">
              {{ getDayGroup(dayControl).get('name')?.value }}
            </span>
            <div *ngIf="getDayGroup(dayControl).get('selected')?.value">
              <label [for]="'inicio' + i"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Inicio:</label>
              <input type="time" [id]="'inicio' + i" formControlName="inicio"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                min="09:00" max="18:00" />
              <label [for]="'fin' + i" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fin:</label>
              <input type="time" [id]="'fin' + i" formControlName="fin"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                min="09:00" max="18:00" />
            </div>
          </div>
        </li>
      </ul>
      <div class="flex flex-row justify-center">
        <label for="fechaInicio" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha
          Inicio:</label>
        <label for="fechaFin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha Fin:</label>
      </div>
      <div class="flex flex-row justify-center">
        <input type="date" id="fechaInicio" formControlName="fechaInicio"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        <input type="date" id="fechaFin" formControlName="fechaFin"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
      </div>
      <button pButton type="button" label="Guardar" class="p-button-success mt-2" (click)="saveHorario()"></button>
    </form>
  </ng-template>
</p-panel>