<p-panel>
    <ng-template pTemplate="header">
        <span class="text-primary font-semibold text-xl">Bandeja de Alumno</span>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="row mb-4">
            <div class="grid p-fluid">
                <div class="field md:col-12">
                    <p-table #dt1 [value]="instituciones" [rows]="10" [loading]="loading"
                        [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true"
                        responsiveLayout="scroll" class="custom-search-input"
                        [globalFilterFields]="['nombres', 'institucion', 'carrera_nombre', 'ciclo_nombre']"
                        >
                        <ng-template pTemplate="caption">
                            <div class="flex justify-content-between flex-wrap">
                                <div class="flex-grow-1 mb-2 mr-2">
                                    <span class="p-input-icon-left w-full">
                                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                                            placeholder="Buscar Alumno" class="w-full" />
                                    </span>
                                </div>
                                <div class="mb-2">
                                    <button pButton label="Nuevo" icon="pi pi-user-plus" id="btnNuevo" class="p-button-primary mr-2" (click)="navigateToNuevo()" style="border-radius: 30px;"></button>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="header">
                            <tr>
                                <th style="min-width: 10rem" scope="col">
                                    <div class="flex justify-content-between align-items-center">
                                        Nombres de Alumno
                                    </div>
                                </th>
                                <th style="min-width: 10rem" scope="col">
                                    <div class="flex justify-content-between align-items-center">
                                        Institución
                                    </div>
                                </th>
                                <th style="min-width: 10rem" scope="col">
                                    <div class="flex justify-content-between align-items-center">
                                        Carrera Técnica
                                    </div>
                                </th>
                                <th style="min-width: 10rem" scope="col">
                                    <div class="flex justify-content-between align-items-center">
                                        Siglo
                                    </div>
                                </th>
                                <th style="min-width: 10rem" scope="col">
                                    <div class="flex justify-content-between align-items-center">
                                        Acciones
                                    </div>
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-miembro>
                            <tr>
                                <td>{{miembro.nombres}} {{miembro.apellidos}}</td>
                                <td>{{miembro.institucion}}</td>
                                <td>{{miembro.carrera_nombre}}</td>
                                <td>{{miembro.ciclo_nombre}}</td>
                                <td>
                                    <div class="flex justify-content-between align-items-center">
                                        <button pButton icon="pi pi-pencil" class="p-button-info p-button-sm" (click)="navigateToEditar(miembro)"></button>
                                        <button pButton icon="pi pi-trash" class="p-button-danger p-button-sm" (click)="eliminarAlumno(miembro)"></button>
                                    </div>
                                </td>
                                
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No se encontraron registros</td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="8">Cargando registros. Por favor espere.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </ng-template>
</p-panel>

