.button-custom {
    width: 1rem;
    height: 3rem;
    background-color: aliceblue;
    background: #2c5f8b;
    color: antiquewhite;
    border: none;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-group {
    display: flex;
    gap: 10px; /* Espacio entre los botones, ajusta según sea necesario */
}

.custom-swal-popup {
    z-index: 2147483647 !important; /* Valor máximo para z-index */
  }

  .swal2-popup {
    z-index: 2147483647 !important; /* Valor máximo para z-index */
  }

  body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
    z-index: 2147483647 !important; /* Valor máximo para z-index */

}