
<p-panel>
    <ng-template pTemplate="header">
        <span class="text-primary font-semibold text-xl">Registrar Asistencia - Alumno</span>
    </ng-template>

    <ng-template pTemplate="content">
        <div class="row mb-4">
            <div class="grid p-fluid">
                <div class="field md:col-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdownCurso" [options]="cursos" [(ngModel)]="selectedCurso" optionLabel="name" (onChange)="onCursoChange()"></p-dropdown>
                        <label for="dropdownCurso">Curso</label>
                        <small style="color: brown;">Campo obligatorio *</small>
                    </span>
                </div>
                <div class="field md:col-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdownCiclo" [options]="ciclos" [(ngModel)]="selectedCiclo" optionLabel="name" (onChange)="onCicloChange()"></p-dropdown>
                        <label for="dropdownCiclo">Ciclo</label>
                        <small style="color: brown;">Campo obligatorio *</small>
                    </span>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="grid p-fluid">
                <div class="field md:col-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdownAula" [options]="aulas" [(ngModel)]="selectedAula" optionLabel="name" (onChange)="onAulaChange()"></p-dropdown>
                        <label for="dropdownAula">Aulas</label>
                        <small style="color: brown;">Campo obligatorio *</small>
                    </span>
                </div>
                <div class="field md:col-6">
                    <div class="flex flex-column">
                        <span><strong>Día:</strong> {{ currentDay }}</span>
                        <span><strong>Fecha:</strong> {{ currentDate }}</span>
                        <span><strong>Hora:</strong> {{ currentTime }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4" *ngIf="selectedAula">
            <div class="grid p-fluid">
                <div class="field md:col-12">
                    <p-table #dt1 [value]="alumnos" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" responsiveLayout="scroll" class="custom-search-input">
                        <ng-template pTemplate="caption">
                            <div class="flex justify-content-between flex-wrap">
                                <div class="flex-grow-1 mb-2 mr-2">
                                    <span class="p-input-icon-left w-full">
                                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar Usuario" class="w-full" />
                                    </span>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="header">
                            <tr>
                                <th style="min-width: 10rem" scope="col">
                                    <div class="flex justify-content-between align-items-center">
                                        Código Alumno
                                    </div>
                                </th>
                                <th style="min-width: 10rem" scope="col">
                                    <div class="flex justify-content-between align-items-center">
                                        Nombres completos
                                    </div>
                                </th>
                                <th style="min-width: 10rem" scope="col">
                                    <div class="flex justify-content-between align-items-center">
                                        Nro de Documento
                                    </div>
                                </th>
                                <th style="min-width: 10rem" scope="col">
                                    <div class="flex justify-content-between align-items-center">
                                        Asistencia
                                    </div>
                                </th>                              
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-alumno>
                            <tr>
                                <td>{{ alumno.codigo }}</td>
                                <td>{{ alumno.nombresCompletos }}</td>
                                <td>{{ alumno.nroDocumento }}</td>
                                <td class="flex justify-content-center align-items-center">
                                    <p-checkbox [(ngModel)]="alumno.asistio" [binary]="true" label="Asistio" (onChange)="updateAttendance(alumno, true)"></p-checkbox>
                                    <p-checkbox [(ngModel)]="alumno.noAsistio" [binary]="true" label="No asistio" (onChange)="updateAttendance(alumno, false)"></p-checkbox>
                                </td>
                                
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No se encontraron registros</td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="8">Cargando registros. Por favor espere.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="flex justify-content-end flex-column sm:flex-row">
                <div class="flex flex-wrap gap-2">
                    <button pButton icon="pi pi-plus" label="Guardar Asistencia" iconPos="right" class="p-button-success p-button-sm" (click)="guardarAsistencia()"></button>
                    <button pButton label="Cerrar" icon="pi pi-times" iconPos="right" class="p-button-close-clean" (click)="closeModal()"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-panel>
