<div class="layout-sidebar" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <div class="sidebar-header">
        <a [routerLink]="['/']" class="app-logo">
            <!-- img with logoUrl variable-->
            <img [src]="logoUrl" alt="logo" class="app-logo-image" style=" width: 100px;
            height: 100px;
            margin: 0 auto;
            display: block;" />
        </a>
        <button class="layout-sidebar-anchor p-link z-2 mb-2" type="button" (click)="anchor()"></button>
    </div>


    <div #menuContainer class="layout-menu-container">
        <app-menu></app-menu>
    </div>
</div>