<p-panel> 
    <ng-template pTemplate="header">
        <span class="text-primary font-semibold text-xl">Registrar Cursos</span>
    </ng-template>
    
    <ng-template pTemplate="content">
        <div class="row">
            <div class="grid p-fluid ">                
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input type="text" pInputText [(ngModel)]="codigo">
                        <label class="required">Código</label>
                    </span>
                </div>
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input type="text" pInputText [(ngModel)]="nombreCurso">
                        <label class="required">Nombre de curso</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="grid p-fluid ">                
                <div class="field md:col-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdownCiclo" [options]="ciclos" optionLabel="tx_abreviatura" [(ngModel)]="ciclo"></p-dropdown>
                        <label for="dropdownCiclo">Ciclo </label>
                        <small style="color: brown;">Campo obligatorio * </small>
                    </span>
                </div>
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdownAreaFormacion" [options]="areasFormacion" optionLabel="tx_abreviatura" [(ngModel)]="areaFormacion"></p-dropdown>
                        <label for="dropdownAreaFormacion">Áreas de formación </label>
                        <small style="color: brown;">Campo obligatorio * </small>
                    </span>
                </div>    
            </div>    
        </div>
        <div class="row">
            <div class="grid p-fluid ">                
                <div class="field md:col-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdownModuloFormativo" [options]="modulosFormativos" optionLabel="tx_abreviatura" [(ngModel)]="moduloFormativo"></p-dropdown>
                        <label for="dropdownModuloFormativo">Módulo formativo </label>
                        <small style="color: brown;">Campo obligatorio * </small>
                    </span>
                </div>
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input type="text" pInputText [(ngModel)]="cantidadCreditos" (ngModelChange)="onCantidadCreditosChange($event)">
                        <label class="required">Cantidad de créditos</label>
                    </span>
                </div>
            </div>    
        </div>
        <div class="row">
            <div class="grid p-fluid ">                
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input type="text" pInputText [(ngModel)]="porcentajeCreditos">
                        <label class="required">% de créditos</label>
                    </span>
                </div>  
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input type="text" pInputText [(ngModel)]="cantidadHoras">
                        <label class="required">Cantidad de horas</label>
                    </span>
                </div>  
            </div>    
        </div>
        <div class="row mt-2">
            <div class="grid p-fluid">
                <div class="field col-12 md:col-12">
                    <label for="">Digite el syllabus</label>
                    <p-editor [style]="{ height: '90px' }" [(ngModel)]="syllabus"></p-editor>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="grid p-fluid ">                
                <div class="field md:col-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdownAsignacionDocentes" [options]="asignacionesDocentes" optionLabel="name" [(ngModel)]="asignacionDocentes"></p-dropdown>
                        <label for="dropdownAsignacionDocentes">Asignación de docentes </label>
                        <small style="color: brown;">Campo obligatorio * </small>
                    </span>
                </div>
            </div>    
        </div>
        <div class="row">
            <div class="flex justify-content-end flex-column sm:flex-row">
                <div class="flex flex-wrap gap-2">
                    <button pButton icon="pi pi-plus" label="Guardar" iconPos="right" class="p-button-success p-button-sm" (click)="GuardarCurso()"></button>                   
                    <button pButton label="Cerrar" icon="pi pi-times" iconPos="right" class="p-button-close-clean" (click)="closeModal()"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-panel>