<p-panel>
    <ng-template pTemplate="header">
        <span class="text-primary font-semibold text-xl"
            >Registrar institutos</span
        >
    </ng-template>
    <ng-template pTemplate="content">
        <div class="row">
            <div class="grid p-fluid">
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText  [(ngModel)]="nombre"/>
                        <label for="director">Nombre del rol</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
            </div>
        </div>

        <div class="row mb-5 text-right">
            <button
                pButton
                label="Guardar"
                icon="pi pi-plus"
                (click)="Guardaruser()"
                id="btnGuardar"
                class="p-button-success mr-2"
            ></button>
            <button
                pButton
                label="Cerrar"
                icon="pi pi-times"
                iconPos="right"
                class="p-button-close-clean"
                (click)="closeModal()"
            ></button>
        </div>
    </ng-template>
</p-panel>
