<p-panel>
    <ng-template pTemplate="header">
        <span class="text-primary font-semibold text-xl">
            {{ acciones === 'add' ? 'Agregar ciclos' : (acciones === 'ver' ? 'Ver ciclos' : 'Editar ciclos') }}
        </span>
    </ng-template>

    <ng-template pTemplate="content">
        <form [formGroup]="parametroForm" (ngSubmit)="guardarCiclos()">
            <div class="row">
                <div class="grid p-fluid">
                    <div class="field col-12 ">
                        <span class="p-float-label">
                            <input type="text" pInputText formControlName="nombre">
                            <label class="required">Nombre</label>
                        </span>
                        <div *ngIf="parametroForm.get('nombre')?.invalid  && parametroForm.get('nombre')?.touched">
                            <small style="color: brown;"  >
                                El Nombre es requerido
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid p-fluid">
                    <div class="field col-12 ">
                        <span class="p-float-label">
                            <input type="number" step="1" 
                            min="0"
                            pInputText formControlName="orden">
                            <label class="required">Orden</label>
                        </span>
                        <div *ngIf="parametroForm.get('orden')?.invalid  && parametroForm.get('orden')?.touched">
                            <small style="color: brown;"  >
                                El campo orden es requerido y debe ser un número entero
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="flex justify-content-end flex-column sm:flex-row">
                    <div class="flex flex-wrap gap-2">
                        <button *ngIf="acciones === 'add'" pButton icon="pi pi-plus" label="Guardar" iconPos="right"
                            class="p-button-success p-button-sm" type="submit"></button>
                        <button *ngIf="acciones === 'actualizar'" pButton icon="pi pi-refresh" label="Actualizar"
                            iconPos="right" class="p-button-warning p-button-sm" type="submit"></button>
                        <button pButton label="Cerrar" icon="pi pi-times" iconPos="right" class="p-button-close-clean"
                            (click)="closeModal($event)"></button>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
</p-panel>