<p-panel>
    <ng-template pTemplate="header">
        <span class="text-primary font-semibold text-xl">Carreras Tecnicas</span>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="row">
            <div class="grid p-fluid ">
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="codigo" pInputText>
                        <label for="codigo">Código</label>
                    </span>
                    <small style="color: brown;">Campo obligatorio *</small>
                </div>
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="nombrecarrera" pInputText>
                        <label for="nombrecarrera">Nombre de la Carrera</label>
                    </span>
                    <small style="color: brown;">Campo obligatorio *</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="grid p-fluid">
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="titulos" pInputText>
                        <label for="titulos">Titulos</label>
                    </span>
                    <small style="color: brown;">Campo obligatorio *</small>
                </div>
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="logotipo" pInputText>
                        <label for="logotipo">Credito por unidades formativas</label>
                    </span>
                    <small style="color: brown;">Campo obligatorio *</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="grid p-fluid">
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="unidaddidactivas" pInputText>
                        <label for="unidaddidactivas">Credito por unidades dídacticas</label>
                    </span>
                    <small style="color: brown;">Campo obligatorio *</small>
                </div>
                
            </div>
        </div>

        <div class="row mb-5 text-right">               
            <button pButton label="Guardar" icon="pi pi-plus" id="btnGuardar" class="p-button-success mr-2"></button>
            <button pButton label="Cancelar" icon="pi pi-times" id="btnCancelar" class="p-button-danger"></button>          
        </div>
    </ng-template>
</p-panel>
