<p-panel>
    <ng-template pTemplate="header">
        <span class="text-primary font-semibold text-xl">Listado de ciclos</span>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="row mb-4">
            <div class="grid p-fluid">
                <div class="field md:col-12">
                    <p-table #dt1 [value]="ciclosList" [rows]="10" [loading]="loading" [rowHover]="true"
                        styleClass="p-datatable-gridlines" [paginator]="true" responsiveLayout="scroll"
                        class="custom-search-input">
                        <ng-template pTemplate="caption">
                            <div class="flex justify-content-between flex-wrap">
                                <div class="flex-grow-1 mb-2 mr-2">
                                    <span class="p-input-icon-left w-full">
                                        <input pInputText type="text" #filter (input)="onGlobalFilter($event)"
                                            placeholder="Buscar listado de ciclos" class="w-full" />
                                    </span>
                                </div>
                                <div class="mb-2">
                                    <button pButton label="Nuevo" icon="pi pi-user-plus" id="btnNuevo"
                                        class="p-button-primary mr-2" (click)="navigateAddCurso()"
                                        style="border-radius: 30px;"></button>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="header">
                            <tr>
                                <th style="min-width: 10rem" scope="col">Acciones</th>
                                <th style="min-width: 10rem" scope="col">Nombre</th>
                                <th style="min-width: 10rem" scope="col">Color</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-area>
                            <tr>
                                <td>
                                    <button pButton icon="pi pi-eye" style="width: 70px; border-radius: 30px;"
                                        title="Ver" class="p-button-rounded p-button-text p-button-success"
                                        (click)="navigateToDetalle(area)">
                                    </button>
                                    <button pButton icon="pi pi-pencil" style="width: 70px; border-radius: 30px;"
                                        title="Editar" class="p-button-rounded p-button-text p-button-warning"
                                        (click)="navigateToEdit(area)">
                                    </button>
                                    <button pButton icon="pi pi-trash" style="width: 70px; border-radius: 30px;"
                                        title="Eliminar" class="p-button-rounded p-button-text p-button-danger"
                                        (click)="navigateToDelete(area.id)">
                                    </button>
                                </td>
                                <td>
                                    <span pTooltip="Nombre del área" tooltipPosition="top">{{ area.nombre }}</span>
                                </td>
                                <td>
                                    <span [style.backgroundColor]="area.color" class="color-box"></span>
                                    {{ area.color }}
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="3">No se encontraron registros</td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="3">Cargando registros. Por favor espere.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </ng-template>
</p-panel>