
<p-panel>
    <ng-template pTemplate="header">
        <span class="text-primary font-semibold text-xl">Registrar Evaluación</span>
    </ng-template>

    <ng-template pTemplate="content">
        <div class="row mb-4">
            <div class="grid p-fluid">
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input type="text" pInputText >
                        <label class="required">Código</label>
                    </span>
                </div>
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input type="text" pInputText >
                        <label class="required">Nombre</label>
                    </span>
                </div>
             </div>  
        </div>
        <div class="row mb-4">
            <div class="grid p-fluid">
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input type="text" pInputText >
                        <label class="required">Valor %</label>
                    </span>
                </div>
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input type="text" pInputText >
                        <label class="required">Puntos</label>
                    </span>
                </div>
            </div>            
        </div>
        <div class="row mb-4">
            <div class="grid p-fluid">
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input type="text" pInputText >
                        <label class="required">%</label>
                    </span>
                </div>
                <div class="field md:col-3">
                    <span class="p-float-label">
                        <p-calendar inputId="calendar" [(ngModel)]="fechaRegistro" [showTime]="false" (onSelect)="cambiarIdioma()"
                            [showSeconds]="false" dateFormat="dd-mm-yy" ></p-calendar>
                        <label for="calendar">Fecha de la noticia</label>
                    </span>
                </div>
                <div class="field md:col-3">
                    <span class="p-float-label">
                      <p-calendar
                        inputId="horaprogramada"
                        [(ngModel)]="horaprogramada"   
                        (onSelect)="capturarHora($event)"
                        [showTime]="true"
                        [showSeconds]="false"
                        dateFormat="dd-mm-yy"
                        [timeOnly]="true"
                      ></p-calendar>
                      <label for="horaprogramada">Hora programada</label>
                    </span>
                    <small style="color: brown;">Campo oblicatorio *</small>
                  </div>
            </div>            
        </div>
        <div class="row mb-4">
            <div class="grid p-fluid">
                <div class="field md:col-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdownAula" [options]="aulas" [(ngModel)]="selectedAula" optionLabel="name" (onChange)="onAulaChange()"></p-dropdown>
                        <label for="dropdownAula">Tipo de Evaluación</label>
                        <small style="color: brown;">Campo obligatorio *</small>
                    </span>
                </div>
                <div class="field md:col-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdownAula" [options]="estados" [(ngModel)]="selectedEstado" optionLabel="name" (onChange)="onAulaChange()"></p-dropdown>
                        <label for="dropdownAula">Estados</label>
                        <small style="color: brown;">Campo obligatorio *</small>
                    </span>
                </div>
                
            </div>
        </div>
        <div class="row mb-4">
            <div class="grid p-fluid">
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input type="text" pInputText >
                        <label class="required">Carrera técnica</label>
                    </span>
                </div>
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input type="text" pInputText >
                        <label class="required">Ciclos</label>
                    </span>
                </div>
            </div>            
        </div>
        <div class="row mb-4">
            <div class="grid p-fluid">
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input type="text" pInputText >
                        <label class="required">Área de formación</label>
                    </span>
                </div>
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input type="text" pInputText >
                        <label class="required">Módulo formativo</label>
                    </span>
                </div>
            </div>            
        </div>
        <div class="row mb-4">
            <div class="grid p-fluid">
                <div class="field md:col-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdownAula" [options]="modalidad" [(ngModel)]="selectedEstado" optionLabel="name" (onChange)="onAulaChange()"></p-dropdown>
                        <label for="dropdownAula">Modalidad</label>
                        <small style="color: brown;">Campo obligatorio *</small>
                    </span>
                </div>
              
            </div>            
        </div>

        
        <div class="row">
            <div class="flex justify-content-end flex-column sm:flex-row">
                <div class="flex flex-wrap gap-2">
                    <button pButton icon="pi pi-plus" label="Guardar Evaluación" iconPos="right" class="p-button-success p-button-sm" (click)="guardarEvaluacion()"></button>
                    <button pButton label="Cerrar" icon="pi pi-times" iconPos="right" class="p-button-close-clean" (click)="closeModal()"></button>
                </div>
            </div>
        </div>

    </ng-template>
</p-panel>

