<p-panel>
    <ng-template pTemplate="header">
        <span class="text-primary font-semibold text-xl"
            >Registro de cursos</span
        >
    </ng-template>
    <ng-template pTemplate="content">
        <div class="row">
            <div class="grid p-fluid">
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">Nombres del curso</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">código</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="grid p-fluid">
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">Silabus</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">Carrera técnica</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
          
            </div>
        </div>
        <div class="row">
            <div class="grid p-fluid">
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">Areas de formación</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">Cantidad de horas</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
          
            </div>
        </div>
        <div class="row">
            <div class="grid p-fluid">
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">Creditos</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
                <div class="field md:col-6">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-user-edit"></i>
                        <input type="text" id="director" pInputText />
                        <label for="director">Cantidad de horas</label>
                    </span>
                    <small style="color: brown">Campo obligatorio *</small>
                </div>
          
            </div>
        </div>
        <div class="row">
            <div class="grid p-fluid">
                <div class="field md:col-6">
                    <span class="">
                        <label for="director">Alumnos</label>
                        <p-button label="Ver" severity="info" />
                    </span>
                </div>
                <div class="field md:col-6">
                    <span class="">
                        <label for="director">Horarios</label>
                        <p-button label="Ver" severity="info" />
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="grid p-fluid">
                <div class="field md:col-6">
                    <span class="">
                        <label for="director">Asistencia</label>
                        <p-button label="Ver" severity="info" />
                    </span>
                </div>
                <div class="field md:col-6">
                    <span class="">
                        <label for="director">Temas</label>
                        <p-button label="Ver" severity="info" />
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="grid p-fluid">
                <div class="field md:col-6">
                    <span class="">
                        <label for="director">Evaluaciones</label>
                        <p-button label="Ver" severity="info" />
                    </span>
                </div>
                <div class="field md:col-6">
                    <span class="">
                        <label for="director">Foros</label>
                        <p-button label="Ver" severity="info" />
                    </span>
                </div>
            </div>
        </div>

    
        <div class="row mb-5 text-right">
            <button
                pButton
                label="Guardar"
                icon="pi pi-plus"
                (click)="Guardaruser()"
                id="btnGuardar"
                class="p-button-success mr-2"
            ></button>
            <button
                pButton
                label="Cerrar"
                icon="pi pi-times"
                iconPos="right"
                class="p-button-close-clean"
                (click)="closeModal()"
            ></button>
        </div>
    </ng-template>
</p-panel>
